/* ==================== Game Interface Screen ==================== */
.game-interface-screen-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.game-interface-screen {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.panel {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-border);
    background-color: var(--color-bg-secondary);
    overflow: hidden;
}

.panel:last-child {
    border-right: none;
}

.panel--left {
    flex: 0 0 25%;
    min-width: 250px;
}

.panel--center {
    flex: 1;
    min-width: 400px;
}

.panel--right {
    flex: 0 0 25%;
    min-width: 250px;
}
